.statusdiv {
  position: relative;

}
.infos {
  position: absolute;
  top: 10px;
  right: 10px;
}

.requests {
  display: flex;
}
.marging {
  margin-top: 10px;
}
.pending-request {
    display: flex;
    align-items: center;
    font-family: Open Sans;
    margin-right: 0px;
    height: auto;
    border: 1px solid rgb(200,200,200);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    background-image: asset-url('snow-background.jpg');
}
.accepted-request {
    display: flex;
    align-items: center;
    font-family: Open Sans;
    margin-right: 0px;
    height: auto;
    border: 1px solid rgb(200,200,200);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    background-image: asset-url('green-background.jpg');
}
.declined-request {
    display: flex;
    align-items: center;
    font-family: Open Sans;
    margin-right: 0px;
    height: auto;
    border: 1px solid rgb(200,200,200);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    background-image: asset-url('red-background.jpg');
}
.filter{
    background-color: white;
    opacity: 0.8;
}
.darkfilter{
   background-color: black;
    // opacity: 0.3;
}
.owner-xmas-item-photo {
  border-radius: 100px;
}
.paddingtop{
  padding-top: 20px;
}
.gray {
 color: rgb(200,200,200);
 background-color: rgb(240,240,240);
}
.request-description {
  flex: 1 1 auto;
  margin: 10px;
  color: white;
}
.resquest-status {
  flex: 0 0 200px;
  margin: 10px;
  // background-color: white;
  // border-radius: 10px;
  color: white;
  text-align: center;
  // border: 1px dotted white;
}
.request-validation {
  flex: 0 0 200px;
  color: white;
}

.shadow {
  box-shadow: 2px 2px 3px gray;
}
.requests {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.index-link {
}


