.row{
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  height :auto;
}

.row h2, p{
  font-family: Open Sans;
}


.price{
  font-weight: 700;
}


.xmasItemPhoto{
  margin-top: 35px;
}

.xmasItemPhoto img{
  border-radius: 4px;
  padding-bottom: 40px;
}


.fa {
  margin-right: 10px;
}


.avatar img{
  border-radius: 50%;
  margin-bottom: 18px;
}

.delimiter_bloc_bottom {
  border-bottom: 1px solid #efecec;
}


.delimiter_bloc_right {
  border-right: 1px solid #efecec;
  margin-bottom: 20px;
}


.container_right{
  padding-left: 40px;
}
