.row{
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  height :100vh;
}



.breadcrumb {
    padding: 8px 15px;
    /* margin-bottom: 25px; */
    list-style: none;
    background-color: #ffffff;
    border-radius: 2px;
    font-size: x-small;
    margin: 10px -14px 6px;
}

.price{
  font-weight: 700;
}


.xmasItemPhoto{
  margin-top: 35px;
}

.xmasItemPhoto img{
  border-radius: 4px;
}


.fa {
  margin-right: 10px;
}


.avatar img{
  border-radius: 50%;
  margin-bottom: 18px;
}
