  <div class="form-container">
    <h2></h2>
    <%= simple_form_for([@xmas_item, @booking]) do |form| %>
      <%= form.input :start_date, as: :date  %>

      <%= form.input :end_date, as: :date %>

      <div class="text-left">
        <%= form.submit "Ask for booking", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>

