<div class="footer">
  <div class="footer-links">
    <%= link_to 'See decos to book', xmas_items_path %>
  </div>
  <div class="footer-copyright">
    Website is made with <i class="fa fa-heart"></i>
  </div>
</div>
