
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(77,158,58, 0.6) 00%, rgba(255,255,255,0.6) 100%), url('<%= image_path 'costumes-de-noel.jpg' %>');">
  <div id="snow"></div>
  <div class="banner-content">
    <h1>Merry Christmas</h1>
    <p>Le vrai style de Noël à louer</p>

    <%= link_to "Trouve ton style", xmas_items_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>
